apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: myapi-development

namespace: api

resources:
- ../../base
- pdb-patch.yaml

patches:
- path: deployment-patch.yaml
  target:
    kind: Deployment
    name: deployment
- path: configmap-patch.yaml
  target:
    kind: ConfigMap
    name: config
- path: exclude-tls-secret.yaml
  target:
    kind: Secret
    name: tls-secret



images:
- name: myapi
  newTag: dev-latest

replicas:
- name: deployment
  count: 1

commonLabels:
  environment: development

secretGenerator:
- name: myapi-tls-certs-dev
  type: Opaque
  files:
  - dev-server.pfx=certs/dev-server.pfx
  options:
    disableNameSuffixHash: true
