apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: myapi-production

namespace: myapi-prod

resources:
- ../../base

patches:
- path: deployment-patch.yaml
  target:
    kind: Deployment
    name: deployment
- path: exclude-tls-secret.yaml
  target:
    kind: Secret
    name: tls-secret

images:
- name: myapi
  newTag: v1.0.0

replicas:
- name: deployment
  count: 3

commonLabels:
  environment: production

secretGenerator:
- name: myapi-tls-certs-prod
  type: Opaque
  files:
  - production-server.pfx=certs/production-server.pfx
  options:
    disableNameSuffixHash: true
