apiVersion: v1
kind: Service
metadata:
  name: service
  labels:
    app: myapi
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    protocol: TCP
  - name: https
    port: 8443
    targetPort: 8443
    protocol: TCP
  selector:
    app: myapi
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: route
  labels:
    app: myapi
spec:

  host: api.apps-crc.testing
  to:
    kind: Service
    name: myapi-service
  port:
    targetPort: https
  tls:
    termination: passthrough
  wildcardPolicy: None
